:host {
  --_wl-editor_gap: var(--wl-gap, 0.5rem);
  width: 100%;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  padding: var(--_wl-editor_gap);
}

.error {
  margin: auto;
  color: red;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.duration-slider {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

}

.stretch-fill {
  flex: 10 0 0;
}

md-divider {
  margin-bottom: var(--_wl-editor_gap);
}

.medicine-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.medicine-entry {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.oval-container {
  display: flex;
  align-items: center;
  border-radius: 20px; /* Adjust the border-radius for oval shape */
  padding: 8px 15px; /* Add padding to the oval container */
  background-color: #e0e0e0; /* Background color for the oval container */
  margin-right: 15px; /* Add margin to separate the oval container from the button */
}

.item-number {
  font-weight: bold;
  margin-right: 10px; /* Add margin between the number and medicine name */
}

.medicine-name {
  margin-right: 10px; /* Add margin between the medicine name and the button */
}

.md-icon-button {
  border-radius: 50%; /* Make the button circular */
  background-color: #ff6f61; /* Adjust button background color */
  color: white; /* Adjust button text color */
  padding: 5px; /* Add padding to the button */
}

.md-icon {
  font-size: 20px; /* Adjust icon size */
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 0.5rem;
}

.stretch-fill {
  flex-grow: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  z-index: 9999; /* ensures it's on top of everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.add-medicine-button {
  width: 100%;
  text-align: center;
}

.medicine-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}